name: Lint
on: [push, pull_request]
permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Check dependencies
        run: |
          go mod tidy
          git diff --exit-code go.mod

      - name: Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64
          problem-matchers: true
