name: Nightly

on:
  schedule:
    - cron: '0 2 * * *'  # 2 AM UTC daily

  workflow_dispatch:

permissions:
  contents: read

jobs:
  vulncheck:
    runs-on: ubuntu-latest
    steps:
    - name: Run govulncheck
      uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
      with:
           go-version-file: go.mod
           go-package: ./...
